/*
* author: Pramod AJ
* date: 6th Dec 2017
* description: Variables will be provided here
*/

//Background Colors
$light-green: rgba(126,213,111,0.8);
$medium-green: #55c57a;
$dark-green: rgba(40,180,131,0.8);
$button-grey:#777;
$color-white:#fff;
$color-grey-light-01:#f7f7f7;
$color-dull-white:#eee;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-black:#000;
$link-section-background-color:rgb(49, 49, 49);
//Button Colors
$button-grey:#777;
$light-button-grey:#777;
$button-green: rgb(41, 182, 128);
$button-blue: rgb(39, 112, 214);
$button-red: rgb(201, 24, 24);
$button-gold: rgb(236, 178, 76);
//Typography Variables
$dark-grey-font-color:rgb(76, 76, 76);
$font-highlight-color: rgb(64, 64, 186);


//Grid Variables
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:1rem;